{% extends 'index.html' %}

{% block register %}

{% if form.errors %}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    There was an error with your form...
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}
<div class='register'>
    <h2>Register</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form }}
        <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}